<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mkit.libmkit">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ui.MkitActivity"/>
        <activity android:name=".ui.Mkit_WebActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

    </application>

</manifest>
